PORT=YOUR_PORT
MONGO_URL=YOUR_MONGO_URL
JWT_SECRET=YOUR_JWT_SECRET
CORS_ORIGINS=http://localhost:5173
RATE_LIMIT_GLOBAL=100
RATE_LIMIT_AUTH=10
BUILD_ENGINE=YOUR_BUILD_ENGINE # dotnet or msbuild 
BUILD_PATH=YOUR_BUILD_PATH
